  .SlideDown{
  			animation-name: slideDown;
  			 animation-duration: 2s;
  			 animation-fill-mode: forwards;
  			
  }
  @keyframes slideDown{
			 0% {
   				 opacity: 0;
    			transform: translateY(-20%);
  			} 
  		100% {
    			opacity: 1;
    			transform: translateY(0%);
    			 visibility: visible;
 			 }
		}

		.SlideUp{
			 animation-name: slideUp;
  			 animation-duration: 2s;
  			 animation-fill-mode: forwards;  			
		}
		@keyframes slideUp{
		  0% {
   				 opacity: 0;
    			transform: translateY(50%);
  			} 
  		100% {
    			opacity: 1;
    			transform: translateY(0%);
    			visibility: visible;
 			 }
		}
	.ZoomOut{
		animation-name: ZoomOut;
  		animation-duration: 2s;
  		animation-fill-mode: forwards;
	}
	 @keyframes ZoomOut{
	 	0%{
	 		transform: scale(0.5,0.5);
	 		opacity: 0;
	 	}
	 	100%{
	 		transform: scale(1,1);
	 		opacity: 1;
	 	}
	 }

	 .Search{
	 	display: flex;
	 	justify-content: center;
	 	align-items: center;
	 	padding: 50px;
	 	/*background-color: green;*/
	 	z-index: 1;
	 }

	.background, .background1,.background2{
	 	background-repeat: no-repeat;
	 	background-size: cover;
	 	position: absolute;
	 	width: 100%;
	 	height: 70%;
	 	top: 0px;
	 	left: 0px;
	 	z-index: -1;
	 }
	  .background{
	 	background-image: url("imgs/bg1.jpg");
	 	filter: blur(2px);
	 }
	 .background1{
	 	background-image: url("imgs/doc2.jpg");
	 }
	 .background2{
	 	background-image: url("imgs/lab.png");
	 }

	 .SearchDiv{
	 	display: flex;
	 	justify-content: center;
	 	align-items: center;
	 	padding: 100px;
	 	z-index: 1;
	 }

	 .mainDiv{
	 	position: relative;
	 	box-sizing: border-box;
	 	display: flex;
	 	justify-content: center;
	 	align-items: center;
	 }
